h1 {color: red;}
img {width: 400px  ; }
#thirdDiv {margin-left: auto;
      margin-right:auto;
     border: 20px solid red;
     padding:50px ;
    height: 600px ;
    width: 500px ;
    background-color: blue ; }
   #spanId {margin: 50px ;
    font-size: 18px;}
